@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

$roboto-slab: 'Roboto Slab', serif;   
$shade1: #ececec; 
$shade2: #9fd3c7; 
$shade3: #385170; 
$shade4:  #142d4c;

@function mobilie-text-size($ref) {
    $result: $ref - 8px;
    @return $result;
}

@mixin botao {
    font-weight: bold;
    border: none;
    transition: 0.7s;
    border-radius: 16px;
}

*{
    font-family: $roboto-slab;
}

header{
    background-color: $shade2;
    .titulo{
        padding: 8px;
        text-align: center;
        color: $shade4;
        text-shadow: 1px 1px 1px $shade3;
        font-family: $roboto-slab;
        font-size: 32px;
        font-weight: bold;
    }
    @media screen and (max-width: 767px) {
        .titulo{
            font-size: 24px
        }
    }
}

.text-container{
    .titulo-sm{
        font-size: 24px;
        color: $shade3;
        margin-top: 40px;
    }
    p{
        font-size: 18px;
    }
    @media screen and (max-width: 767px) {
        .titulo-sm{
            font-size: mobilie-text-size(24px);
            margin-top: mobilie-text-size(40px);
        }
        p{
            font-size: 14px;
        }
    }
}

form{
    margin-top: 40px;
    input[type=number]{
        border: 2px solid $shade2;
        &:focus {
            border: 2px solid $shade4;
        }
    }
    .btn-primary{
        background-color: $shade2;
        color: $shade4;
        @include botao();
        &:hover{
            background-color: #587ca8;;
            color: $shade1;
        }
    }

    .btn-clean{
        background-color: $shade4;
        color: $shade1;
        @include botao();
        &:hover{
            background-color: #d6f2eb;
            color: $shade4;
        }
    }
}

.container-form{
    max-width: 40%;
    @media screen and (max-width: 767px) {
        max-width: 80%;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        max-width: 60%;
    }
}

.list-group{
    margin-top: 40px;
    margin-bottom: 40px;
    .active{
        background-color: #d6f2eb;
        color: $shade4;
        border: $shade2;
    }
    .list-title{
        background-color: $shade4;
        color: $shade1;
        font-weight: bold;
        border-radius: 16px;
        margin-bottom: 8px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
        &__item{
            color: $shade4;
            font-weight: bolder;
            @media screen and (max-width: 767px) {
                font-size: 14px; 
            }
        }
    }
}